#{extends 'main.html' /}
#{set title:'ユーザー管理' /}

<div class="container">
    <p><a href="@{Application.execTranAtServiceThrowExceptionData3()}">トランザクションありの処理を実行[サービスでトランザクション処理]</a></p>
    <p><a href="@{Application.execWithoutTranAtServiceThrowExceptionData3()}">トランザクションなしでコントローラーで例外処理を実行[サービスでトランザクション処理]</a></p>
    <p><a href="@{Application.execWithoutTranAtControllerThrowExceptionData3()}">トランザクションなしでコントローラーで例外処理を実行[コントローラーでトランザクション処理]</a></p>
</div>